* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

body {
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;
}