* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary-color: #222;

.workspace {
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;;

    .musicPlayer {
        padding: 20px;
        height: 500px;
        width: 300px;
        color: $primary-color;
        box-shadow: 0 5px 10px $primary-color;
        border-radius: 15px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .artistPhoto {
            box-shadow: 0 2px 5px $primary-color;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            border-radius: 100%;
            //overflow: hidden;
        }

        .description {
            //border: 1px solid black;
            margin: 20px 0;

            h2 {
                font-size: 20pt;
                margin: 2px;
            }
        }

        .duration-volume {
            margin: 20px auto;
            //border: 1px solid black;

            .progress {
                display: flex;
                justify-content: center;
                align-items: center;

                & > p {
                    font-size: 10pt;
                }

                & > input {
                    margin: 0 auto;
                    width: 75%;
                }
            }

            .volume {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 0;
                
                & > i {
                    margin-right: 5px;
                }

                & > input {
                    width: 50%;
                }
            }
        }

        .buttons {
            margin: 30px 0;
            display: flex;
            justify-content: space-evenly;

            & > i {
                font-size: 30pt;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}